{% extends 'base.html.twig' %}
{% block html_class %}fullpage-form-holder{% endblock %}
{% block body_class %}fullpage-form-holder{% endblock %}
{% block title %}Источник данных{% endblock %}



{% block body %}
    <div class="p-5 box-shadow bg-white">
        <h3 class="text-center mb-5">CSV-link источник данных</h3>
        {{ form(form) }}
    </div>
{% endblock %}
