<!DOCTYPE html>
<html class="{% block html_class %}{% endblock %}" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VME{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert-fixed-message alert-{{ label }}">
            <div class="alert-fixed-message__body">
                <span class="alert-fixed-message__close">&times;</span>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
